@media screen and (min-width: 62em) {
  h1 {
    font-size: 5em;
  }

  header,
  footer {
    border-radius: 15px;
  }

  nav li {
    font-size: 1.3em;
    border: none;
  }

  nav ul#primary-nav {
    display: flex;
    flex-direction: row;
  }

  nav button {
    display: none;
  }

  main {
    grid-template-columns: repeat(8, 1fr);
  }

  footer {
    font-size: 1.3em;
  }

  #weather-img2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #weather-img3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #forecastmin3 {
    grid-column: 1/2;
    text-align: center;
  }

  #imgday3 {
    grid-column: 2/3;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #forecastmax3 {
    grid-column: 3/4;
    text-align: center;
  }
}
